.sidenav {
  position: fixed;
  background: var(--color-text-secondary);
  top: 0;
  left: 0;
  width: var(--sidenav-width);
  padding: 1.5625rem;
  height: 100vh;
  z-index: 900;
  overflow: auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-item {
      transform: scale(1.05);
      display: block;
      padding: 0.7rem 1rem;
      text-align: right;
      margin: 0 -1.25rem;
      text-decoration: none;
      color: var(--twn-textColor);
      font-size: 1.1875rem;
      text-transform: uppercase;
      transition: transform 0.25s;
      transform-origin: right center;
      color: var(--color-background);

      &.active {
        color: var(--color-link-hover);
      }

      &:hover {
        color: var(--color-link-hover);
        transform: scale(1.1);
      }

      svg {
        margin-left: 0.625rem;
        display: inline-block;
        transition: transform 0.25s;
      }
    }
  }
}

.logo {
  margin: 1.5625rem 0 3.125rem;
  background: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: none;

  img {
    width: 100%;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 960px) {
  .sidenav {
    padding-top: 3.125rem;
    transform: translate(calc(var(--sidenav-width) * -1));
    transition: transform 0.25s;

    ul .menu-item {
      font-size: 1rem;
    }
  }

  .sidenav-open {
    transform: translate(0);

    .logo {
      display: none;
    }

    ul {
      padding-top: 2.5rem;
    }
  }
}
