.table-wrapper {
  display: block;
  overflow: auto;
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 100%;
  font-size: 1rem;
  table-layout: fixed;
}

td,
th {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

th {
  background: #333;
  color: var(--color-text-secondary);
  text-align: left;
  padding: 0.625rem 1rem;
  border-bottom: var(--color-text-secondary) 0.0625rem solid;
  cursor: pointer;
}

td {
  padding: 0.625rem 1rem;
  border-bottom: var(--color-text-secondary) 0.0625rem solid;
  width: 20%;
  cursor: pointer;
  font-weight: 400;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

.paginator {
  text-align: center;
  margin-top: 20px;

  button {
    cursor: pointer;
    font-size: 1rem;
    background: none;
    border: none;
    color: var(--color-text-secondary);
    width: 2.5em;
    height: 2.5em;
    border-radius: 2.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: none;
    margin: 0 1rem;
    margin-right: 0;
    font-weight: 700;
    &:hover {
      border: var(--color-text-secondary) 0.0625rem solid;
    }

    &.active {
      background-color: var(--color-text-secondary);
      color: #333;
      font-weight: bold;
      font-size: 1rem;
      width: 2.5em;
      height: 2.5em;
      border-radius: 2.5em;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      transition: none;
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
      border: none;
    }
  }
}

.icon-container {
  margin-left: 0.5rem;
}

.expanded-tablerow {
  background: var(--color-text-secondary) !important;
  color: #333;
}

.expanded-content {
  display: flex;
  .body {
    padding-left: 1rem;
    text-wrap: wrap;

    p {
      margin: 0;
    }

    a {
      font-size: 0.75rem;
      padding: 0.85em 1.7em;
      width: auto;
    }
  }
}

.content-img {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  background: center center no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
}

@media screen and (max-width: 960px) {
  th {
    font-size: 0.875rem;
    padding: 0.375rem 0.5rem;
  }

  td {
    font-size: 0.875rem;
    padding: 0.375rem 0.5rem;
  }
}
